 :root{
    --border-helper: 2px solid red;
    --header-font:  'Cabin', serif;
    --p-font: 'Inter', serif;
    --lightest-blue: #7AADCC;
    --blue: #3D7699;
    --azureish-white: #e6f7ff;
    --dark-blue: #10437c;
    --almost-black: #1f1f1f;
    --border-rad: 8px;
}

/* - - - - - - - - - - - - table of contents - - - - - - - - - - - -  */
/* -----set up------ */
/* --------header---------- */
/* ---------------about-------------- */
/* ------------------project card-------------------- */
/* -----------------------footer-------------------------- */
/* ---------------------------media queries---------------------- */


/* --------- initial set up ------------ */

* {
    text-transform: lowercase;
}

body{
    background: var(--azureish-white);
    color: var(--almost-black);
    font-family: var(--header-font);
    padding: 0 2rem;
}

h2, h3 {
    color: var(--almost-black);
    font-family: var(--header-font);
    font-weight: 600;
    font-size: 2rem;
    display: block;
    width: 100%;
}

h2 {
    display: flex;
    justify-content: flex-start;
    margin-left: 2rem;
}
 
h3 {
    text-align: center;
} 

h4 {
    font-family: var(--header-font);
    font-size: 1.5rem
}

a {
    text-decoration: none;
    color: var(--almost-black);
}

a:visited {
    text-decoration: none;
}

p {
    font-size: 1rem;
}

/* ------------------header--------------- */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px dashed #10437c; 
}

h1 {
    font-size: 3rem;
    font-weight: 800;
    font-family: var(--header-font);
}

li {
    list-style: none;
}

.header-list {
    display: flex;
    flex-wrap: wrap;
}

.header-link {
    display: inline-block;
    margin-right: 1rem;
}

.header-link:hover {
    margin-bottom: -2px;
    border-bottom: 2px dashed var(--dark-blue);
}

/* -----------about------------- */

.about-me-border {
    display: flex;
    justify-content: center;
}

.about-me-border p {
    border: 2px dashed #10437c; 
    display: inline-block;
    text-align: center;
    padding: 1rem 2rem;
    margin-left: 8px; 
}

/* ----------projects-------------- */

.project-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(190,215,230);
    background: radial-gradient(circle, rgba(190,215,230,1) 0%, rgba(230,247,255,1) 100%);
    border: 1px solid white;
    border-radius: var(--border-rad);
    max-width: 100rem;
    padding-bottom: 20px;
}

.project-category {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.project-card {
    background: linear-gradient(169deg, rgba(255,255,254,1) 0%, rgba(122,173,204,1) 30%, rgba(255,255,254,1) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px inset var(--azureish-white);
    border-radius: var(--border-rad);
    margin: 2rem 1rem;
    padding: 1.5rem;
    box-shadow: 0 24px 36px rgba(0, 0, 0, 0.3);
    width: 40%;
    max-width: 30rem;
}

.project-card img {
    max-width: 100%;
    height: auto;
    border-radius: var(--border-rad);
}

/* --------------------footer------------------ */

footer {
    margin: 1rem 0;
    text-align: center;
    background-color: #7AADCC55;
    border: 1px solid white;
    border-radius: 8px 128px 8px 64px;
    
}

footer img {
    width: 20%;
}

/* ------------- media queries ------------ */

@media (min-width: 48em) {

    /* project section queries */

    .project-section{
        margin: 0 auto;
    }

    .project-category {
        align-items: center;
    }

    .project-card {
        max-width: 35%; 
        margin-bottom: 1rem;
    }


    /* about section queries */

    #about-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    }

    #about-section p:first-child {
        margin: 8px 15%;
        font-size: 1.25rem;
    }

    #about-section h2 {
        width: 100%;
    }


    
    /* footer queries */
    footer img {
        width: 8%
    }
}